@import "bourbon/bourbon";
@import "slick/slick";
@import "slick/slick-theme";
@import "color";


$tall: 1000px;

*{
	@include box-sizing(border-box);
}

/* main css */


body{
	background:$green;
	color: darkgreen;
	height: 3000px;
}




.header{

	    background:
	    url('img/topSwamp.svg'),tint($green, 20%)
	    ;
    
            img{
           
                display:inline-block;
	            width: 300px;





/*header / nav */



.top{           
background: $greenT20;


	li{
	        a{
	        color:$greenT80;
		    }

		border-radius: 10px;
		
		display:inline-block;
		padding:10px;
		background-color: $greenS80;
		width: 120px;
		margin-top: -10px;
		text-align:center;
	}

    
    img{
        display:inline-block;
	    width: 200px;
	}
	li:nth-child(n+2){
	margin-left:5em;
}
}











#box1{

h1{
color: tint($green, 20%);
}

	

	background: shade($green, 20%);
	height:$tall;
	
	.col1{
		width: 70%;
		float:left;
		padding-left: 3em;


		p{
		margin-top: 100px;
		}
	}

	.col2{

	img{
	width: 300px;
	}

	


	}
}






/* Movies */
#box2{
h1{
	color: tint($green, 40%);
}
	height: $tall;
	background: shade($green, 40%);
	
}
.slide{
color:tint($green, 20%);
	margin-top: 50px;
	
	border: 5px solid black;
	background: shade($green, 60%);
	iframe, p,{
		margin-left:100px;
		margin-right: 100px;
	}
	h2, form{
	text-align:center;	
	}
}

.paypal{
	padding: 40px 0px 0px 10px;
}


.movies{
    margin: auto;
    width: 60%;

}









/* stills lightbox 3 columns*/
#box3{
h1{
	color: tint($green, 60%);
}
	color:lightgreen;
	height: $tall;
	background: shade($green, 60%);

}

.b3left, .b3middle{
	float:left;
}
.b3right{
	height: 700px;
}



.stills, .scenes , .wedding, .corporate{
    text-align:center;
    border-bottom: 3px solid black;
    margin: 50px 20px;
	img{width: 300px;}
}




 /*contact us*/

#box4{

	height:$tall;
	background: shade($green, 80%);
	color: tint($green, 80%);
	
   p{
    width:70%;
	}
}

.cta{
	background: tint($green, 80%);
	color: shade($green, 80%);
	width: 150px;
  

}








